#container
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
}
#container #img
{
	position: absolute;
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
}